@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html {
  background: #000;
}

#start-screen {
  position: fixed;
  background: radial-gradient(circle at center, #000 70%, #f0e10e 250%);
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: yellow;
  font-family: 'Press Start 2P', sans-serif;
  z-index: 20;
}

#start-screen button {
  background: #1a1a1a;
  border: 2px solid #555;
  color: #f8f8f7;
  font-family: inherit;
  font-size: 15px;
  padding: 6px 14px;
  width: 100px;
  height: 50px;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}

#start-screen button:hover {
  background: #ffcc00;
  color: #000;
  border-color: #ffcc00;
  box-shadow: 0 0 10px #ffcc00;
}

#start-screen h1 {
  font-size: 30px;
  margin-bottom: 2rem;
}

#InicialLogo-img {
  width: 100;
  height: 100px;
  margin-bottom: 20px;
}